# People Analytics Case Study

## Libraries

In [30]:
# import libraries
import pandas as pd

In this analysis, we will be using the following libraries:

## Data Overview

In [31]:
# load data
df = pd.read_csv('../data/raw/Human Resources.csv')

In [32]:
# View the DataFrame
df

,id,first_name,last_name,birthdate,gender,race,department,jobtitle,location,hire_date,termdate,location_city,location_state
0,00-0037846,Kimmy,Walczynski,6/4/1991,Male,Hispanic or Latino,Engineering,Programmer Analyst I,Headquarters,1/20/2002,NaN,Cleveland,Ohio
1,00-0041533,Ignatius,Springett,6/29/1984,Male,White,Business Development,Business Analyst,Headquarters,4/8/2019,NaN,Cleveland,Ohio
2,00-0045747,Corbie,Bittlestone,7/29/1989,Male,Black or African American,Sales,Solutions Engineer Manager,Headquarters,10/12/2010,NaN,Cleveland,Ohio
3,00-0055274,Baxy,Matton,9/14/1982,Female,White,Services,Service Tech,Headquarters,4/10/2005,NaN,Cleveland,Ohio
4,00-0076100,Terrell,Suff,4/11/1994,Female,Two or More Races,Product Management,Business Analyst,Remote,9/29/2010,2029-10-29 06:09:38 UTC,Flint,Michigan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# General information about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37408 entries, 0 to 37407
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              22214 non-null  object
 1   first_name      22214 non-null  object
 2   last_name       22214 non-null  object
 3   birthdate       22214 non-null  object
 4   gender          22214 non-null  object
 5   race            22214 non-null  object
 6   department      22214 non-null  object
 7   jobtitle        22267 non-null  object
 8   location        22214 non-null  object
 9   hire_date       22214 non-null  object
 10  termdate        3929 non-null   object
 11  location_city   22214 non-null  object
 12  location_state  22214 non-null  object
dtypes: object(13)
memory usage: 3.7+ MB

## Data Cleaning

In [34]:
# Remove rows where all values are NaN (empty)
df = df.dropna(how='all')

In [35]:
df

,id,first_name,last_name,birthdate,gender,race,department,jobtitle,location,hire_date,termdate,location_city,location_state
0,00-0037846,Kimmy,Walczynski,6/4/1991,Male,Hispanic or Latino,Engineering,Programmer Analyst I,Headquarters,1/20/2002,NaN,Cleveland,Ohio
1,00-0041533,Ignatius,Springett,6/29/1984,Male,White,Business Development,Business Analyst,Headquarters,4/8/2019,NaN,Cleveland,Ohio
2,00-0045747,Corbie,Bittlestone,7/29/1989,Male,Black or African American,Sales,Solutions Engineer Manager,Headquarters,10/12/2010,NaN,Cleveland,Ohio
3,00-0055274,Baxy,Matton,9/14/1982,Female,White,Services,Service Tech,Headquarters,4/10/2005,NaN,Cleveland,Ohio
4,00-0076100,Terrell,Suff,4/11/1994,Female,Two or More Races,Product Management,Business Analyst,Remote,9/29/2010,2029-10-29 06:09:38 UTC,Flint,Michigan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN

In [36]:
# Check for duplicated rows
df.duplicated().sum()

50

In [37]:
# Show duplicated rows
df[df.duplicated()]

,id,first_name,last_name,birthdate,gender,race,department,jobtitle,location,hire_date,termdate,location_city,location_state
22322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22414,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff II,NaN,NaN,NaN,NaN,NaN
22419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN
22437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Support Staff III,NaN,NaN,NaN,NaN,NaN

In [38]:
# Remove rows where all columns except 'jobtitle' are NaN
df = df.dropna(how='all', subset=df.columns.difference(['jobtitle']))

In [39]:
df

,id,first_name,last_name,birthdate,gender,race,department,jobtitle,location,hire_date,termdate,location_city,location_state
0,00-0037846,Kimmy,Walczynski,6/4/1991,Male,Hispanic or Latino,Engineering,Programmer Analyst I,Headquarters,1/20/2002,NaN,Cleveland,Ohio
1,00-0041533,Ignatius,Springett,6/29/1984,Male,White,Business Development,Business Analyst,Headquarters,4/8/2019,NaN,Cleveland,Ohio
2,00-0045747,Corbie,Bittlestone,7/29/1989,Male,Black or African American,Sales,Solutions Engineer Manager,Headquarters,10/12/2010,NaN,Cleveland,Ohio
3,00-0055274,Baxy,Matton,9/14/1982,Female,White,Services,Service Tech,Headquarters,4/10/2005,NaN,Cleveland,Ohio
4,00-0076100,Terrell,Suff,4/11/1994,Female,Two or More Races,Product Management,Business Analyst,Remote,9/29/2010,2029-10-29 06:09:38 UTC,Flint,Michigan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22209,99-9797418,Dorella,Garvan,7/8/1998,Female,Hispanic or Latino,Research and Development,Research Assistant I,Headquarters,2/8/2012,NaN,Cleveland,Ohio
22210,99-9869877,Dasie,Thorsby,4/19/2001,Female,Two or More Races,Services,Service Manager,Headquarters,10/6/2017,NaN,Cleveland,Ohio
22211,99-9919822,Nerty,Wilding,2/9/1970,Female,Two or More Races,Training,Junior Trainer,Headquarters,2/8/2001,NaN,Cleveland,Ohio
22212,99-9960380,Mabelle,Dawks,9/2/1985,Male,Two or More Races,Accounting,Staff Accountant I,Headquarters,4/3/2005,2012-12-10 14:29:59 UTC,Cleveland,Ohio
22213,99-9963543,Carroll,Chattaway,7/10/1999,Female,White,Engineering,Software Engineer III,Remote,3/27/2018,NaN,Fort Wayne,Indiana

In [40]:
# Count unique values in 'location_state'
df['location_state'].value_counts()

location_state
Ohio            18025
Pennsylvania     1115
Illinois          868
Indiana           700
Michigan          673
Kentucky          451
Wisconsin         382
Name: count, dtype: int64